<%= render 'shared/page_title', title: "All Chefs" %>

<div align="center">
  <% @chefs.each do |chef| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-6 offset-3">
          <li class="chef-img"><%= link_to gravatar_for(chef), chef_path(chef) %></li>
          <li class="chef-title"><%= link_to chef.chefname.capitalize, chef_path(chef), class: "title" %></li>
          <li><small><%= pluralize(chef.recipes.count, "recipe") if chef.recipes %></small></li>
          <% if logged_in? && current_chef.admin? && !chef.admin? %>
           <%= link_to "Delete this Chef", chef_path(chef), class: "btn btn-danger btn-sm",  method: :delete, data: 
                      { confirm: "Are you want to delete the chef and all associated recipes?" } %>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
</div>

<%= will_paginate %>