<%= render 'shared/errors', obj: @recipe %>

<%= form_for(@recipe, html: { class: "form-horizontal", multipart: true, role: "form" }) do |f| %>

  <div class="row">
    <div class="col-md-12">

      <%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="col-md-10 offset-1">
            <%= f.label :name %>
          </div>
          <div class="col-md-10 offset-1">
            <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 offset-1">
            <%= f.label :decription %>
          </div>
          <div class="col-md-10 offset-1">
            <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter steps to create recipe", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-10 offset-1">
             <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cb|%>
              <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
             <% end %> 
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-10 offset-1">
            <%= f.label :image, "Add Image" %>
          </div>
          <div class="col-md-10 offset-1">
            <%= f.file_field :image, accept: 'image/jpeg,iamge/gif,image/png' %>

              <% if @recipe.image? %>
                  <%= image_tag @recipe.image.url if @recipe.image? %>
                <%= f.check_box :remove_image %>
                  Remove Image
              <% end %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 offset-1">
            <%= f.submit class: "btn btn-primary btn-lg create" %>
          </div>
        </div>
      <% end %>
        <div class="col-md-4 offset-4 cancel">
          <%=link_to "Cancel request and return to recipes listing", recipes_path, class: "tag" %>
        </div>

    </div>
  </div>
<% end %>