<%= render 'shared/page_title', title: @recipe.name %>

<div class="col-md-6 offset-3">
  <div align="center">
    <%= image_tag @recipe.image.url if @recipe.image? %>
  </div>

  <h4 class="description"><storng>Steps: </storng></h4>
  <hr />
  <%= simple_format(@recipe.description) %>
  <hr />
  <% if @recipe.ingredients.any? %>
    <p>Ingredients: <%= render @recipe.ingredients %></p>
  <% end %>
  <div class="text-right chef">
    <p class="center">
        Created by:
    </p>
    <p class="center icon">
      <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
    </p>
    <p class="center">
      <%= @recipe.chef.chefname.capitalize %>
      <div class="text-right"><%= time_ago_in_words(@recipe.created_at) %> ago</div>
    </p>
  </div>
  <div class="recipe-action">
    <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
      <%= link_to "Edit recipe", edit_recipe_path(@recipe), class: "btn btn-success btn-sm" %>
      <%= link_to "Delete recipe", recipe_path(@recipe), method: :delete,
                                      data: { confirm: "Are you sure?" },
                                      class: "btn btn-danger btn-sm" %>
    <% end %>
    <%= link_to "Return to recipes", recipes_path, class: "btn btn-primary btn-sm" %>
  </div>
</div>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-12">
      <h3>Comments: </h3>
      <hr />
      <%= form_for([@recipe, @comment], remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %> 
        <div class="form-group">
          <div class="col-md-10 offset-1">
            <%= f.label :comment %>
          </div>
          <div class="col-md-10 offset-1">
            <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Enter comment here" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 offset-1">
            <%= f.submit "Submit Comment", class: "btn btn-primary btn-lg create" %>
          </div>
        </div>
      <% end %>
       <hr />
    </div>
  </div>
    <!--<div class="row liking">
      <div class="row col-md-6 offset-2">
        <%#= link_to like_recipe_path(@recipe, like:true), method: :post do %>
          <i class="fas fa-smile-beam"></i>
        <%# end %> <%= @recipe.thumbs_up_total %>
        <%#= link_to like_recipe_path(@recipe, like:false), method: :post do %>
          <i class="fas fa-frown"></i>
        <%# end %> <%= @recipe.thumbs_down_total %>
      </div>
    </div>-->
<% end %>

<% if @recipe.comments != 0 %>
  <div class="row">
    <div class="col-md-10 offset-2">
      <h3>Prior Comments:</h3>
      <div id="messages">
        <%= render partial: 'comments/comments', object: @comments %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3>No Comments Yet!</h3>
    </div>
  </div>
<% end %>




