<nav class="navbar navbar-expand-lg">
  
  <%= link_to "MyRecipes", root_path, class: "navbar-brand", id: "logo" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="nav-item active">
        <%= link_to "Chefs" , chefs_path, class: "link c" %>
        <%= link_to "All Recipes", recipes_path, class: "link r" %>
      </div>
      <% if logged_in? %>  
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Recipes
          </a>
          <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
            <%= link_to "Create a new recipe", new_recipe_path, class: "new-recipe" %>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      <% end %>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ingredients
          </a>
          <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
            <%= link_to "All Ingredients", ingredients_path, class: "ingredient" %>
              <% Ingredient.all.each do |ingredient| %>
                <li><%= link_to ingredient.name.capitalize, ingredient_path(ingredient), class: "each-ing" %></li>
              <% end %>
            <% if logged_in? && current_chef.admin? %>
              <div class="dropdown-divider"></div>
              <%= link_to "New Ingredients", new_ingredient_path, class: "new-ing" %>
            <% end %>
          </div>
        </div>
    </ul>
    <div class="navbar-nav search mr-auto">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <% if logged_in? %>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_chef.chefname.capitalize %>'s Profile <%= "Admin" if current_chef.admin? %>
        </a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
          <li><%= link_to "View your profile", chef_path(current_chef), class: "pf-view" %></li>
          <li><%= link_to "Edit your profile", edit_chef_path(current_chef), class: "pf-edit" %></li>
          <div class="dropdown-divider"></div>
          <%= link_to "Log out", logout_path, method: :delete, class: "pf-logout" %>
        </div>
      </div>
      <% else %>
      <%= link_to "log in", login_path, class: "nav-login" %>
    <% end %>

  </div>
</nav>